# Recomendation system using predictive modelling

- leverage the patterns in your existing data to make predictions or suggestions for new or existing entities.

- Content-based Filtering appraoch to recommendation system building

- a supervised learning approach can be used as a form of content-based filtering, where features of the business (like transaction volume, business duration, etc.) are used to predict certain outcomes or to group similar businesses.

## Data Preparation
target variable is perfomance_index

In [14]:
import pandas as pd

encoded_data = pd.read_csv('encoded_data.csv')
encoded_data.head(2)

,Customer Name,uid,business start date,business duration (years),Normalized Performance Index,business sector_Agriculture,business sector_Fisheries,business sector_Hospitality,business sector_IT,business sector_Manufacturing,...,education level_Vocational,duration range_0 - 5 years,duration range_5 - 10 years,duration range_10 - 15 years,duration range_15 - 20 years,transaction range_0 - 2000,transaction range_2000 - 4000,transaction range_4000 - 6000,transaction range_6000 - 8000,transaction range_8000 - 11000
0,James William,cca67301-ef3c-4496-b8fd-31847b7edd88,2013-02-25,10.58,0.077674,1,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
1,James Nansukusa,7a1c5730-b8e7-4774-8746-90a317b73a82,2009-02-22,14.59,0.068769,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0

### Drop columns not needed for ML

In [15]:
encoded_data_cleaned = encoded_data.drop(columns = ['Customer Name', 'uid', 'business start date'])
encoded_data_cleaned.head(2)

,business duration (years),Normalized Performance Index,business sector_Agriculture,business sector_Fisheries,business sector_Hospitality,business sector_IT,business sector_Manufacturing,business sector_Retail,business sector_Services,location_Bwindi,...,education level_Vocational,duration range_0 - 5 years,duration range_5 - 10 years,duration range_10 - 15 years,duration range_15 - 20 years,transaction range_0 - 2000,transaction range_2000 - 4000,transaction range_4000 - 6000,transaction range_6000 - 8000,transaction range_8000 - 11000
0,10.58,0.077674,1,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
1,14.59,0.068769,0,0,0,0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,0

In [16]:
encoded_data_cleaned.rename(columns={'Normalized Performance Index': 'performance index'}, inplace=True)
customer_data_ml = encoded_data_cleaned.copy()
customer_data_ml.head()

,business duration (years),performance index,business sector_Agriculture,business sector_Fisheries,business sector_Hospitality,business sector_IT,business sector_Manufacturing,business sector_Retail,business sector_Services,location_Bwindi,...,education level_Vocational,duration range_0 - 5 years,duration range_5 - 10 years,duration range_10 - 15 years,duration range_15 - 20 years,transaction range_0 - 2000,transaction range_2000 - 4000,transaction range_4000 - 6000,transaction range_6000 - 8000,transaction range_8000 - 11000
0,10.58,0.077674,1,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
1,14.59,0.068769,0,0,0,0,0,0,1,0,...,0,0,0,1,0,1,0,0,0,0
2,14.64,0.068522,0,1,0,0,0,0,0,0,...,1,0,0,1,0,1,0,0,0,0
3,7.45,0.061839,0,0,0,0,1,0,0,0,...,0,0,1,0,0,1,0,0,0,0
4,10.53,0.061649,0,0,1,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0

## Train ML model

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

X = customer_data_ml.drop(columns = ['performance index'], axis=1)
y = customer_data_ml['performance index']

# Splitting data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train a Random Forest Regressor
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

## Test the Model

In [18]:
# Predict on the test set
y_pred = model.predict(X_test)

# Calculate and print the mean squared error
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 0.00019417381516588218

In [19]:
# Feature importance
feature_importances = model.feature_importances_
features = X.columns
importance_df = pd.DataFrame({'feature': features, 'importance': feature_importances})
importance_df = importance_df.sort_values(by='importance', ascending=False)
print(importance_df)

                           feature  importance
0        business duration (years)    0.483473
32  transaction range_8000 - 11000    0.272788
28      transaction range_0 - 2000    0.072116
30   transaction range_4000 - 6000    0.016628
23      education level_Vocational    0.012629
5    business sector_Manufacturing    0.008646
20         education level_Primary    0.008507
4               business sector_IT    0.008354
2        business sector_Fisheries    0.008238
21       education level_Secondary    0.008138
22      education level_University    0.007978
8                  location_Bwindi    0.007857
13                location_Kampala    0.007518
9                 location_Entebbe    0.006509
18                   gender_Female    0.005804
14                 location_Kisoro    0.005532
11                   location_Gulu    0.005321
19                     gender_Male    0.005268
3      business sector_Hospitality    0.005260
7         business sector_Services    0.005231
1      business sector_Agriculture    0.005117
16                  location_Mbale    0.004717
6           business sector_Retail    0.004488
12                  location_Jinja    0.004409
15                   location_Lira    0.004386
17                location_Mbarara    0.003631
10            location_Fort Portal    0.003505
26    duration range_10 - 15 years    0.003177
25     duration range_5 - 10 years    0.002728
24      duration range_0 - 5 years    0.001178
27    duration range_15 - 20 years    0.000871
29   transaction range_2000 - 4000    0.000000
31   transaction range_6000 - 8000    0.000000

## Predicting PI for a new business

In [ ]:
# For a new business, predicting performance index
# new_business_data should be a DataFrame with the same columns as X, but just one row of data for the new business
# new_business_data = pd.DataFrame([...])  # Fill in your new business data here
# predicted_performance = model.predict(new_business_data)
# print(f"Predicted Performance Index: {predicted_performance[0]}")

# Based on feature importance, you can provide tailored recommendations.
# For example, if 'transaction volume' is the top feature, and the new business's volume is low:
# print("We recommend actions to increase your transaction volume.")